
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to Home Page of Student Management System</h1>

@{ 
    var message = "Hello world";

}

<p>Message : @message</p>